.Group__Function
  .Search
    %input.SearchBox{type: 'search', placeholder: 'グループ検索'}
    %input.Btn{type: "submit", class: "btn--search", value: "検索"} 
  .Create
    = link_to "/groups/new", class: "btn--create" do
      グループを作成
.Group__List
  - @groups.each do |group|
    = link_to group_path(group.id) do
      .Group__List__Box
        .Group--Content
          .icon
            = image_tag group.image.url
            .info
              = group.info
        .Group--Name
          = link_to "#{group.name}", group_path(group.id), method: :get
  = paginate @groups